* {
  margin: 0px;
  padding: 0px;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  width: 950px;
  height: 70vh;
  border-radius: 30px;
  background-color: rgb(42, 72, 4, 0.5);
  padding: 30px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.headerContainer h1 {
  font-size: 80px;
}

.headerContainer > * {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  color: transparent;
  text-align: center;
  animation: effect 2s linear infinite;
}

@keyframes effect {
  0% {
    background: linear-gradient(#008000, #00ff00);
    -webkit-background-clip: text;
  }

  100% {
    background: linear-gradient(#7f0404, #ce1403);
    -webkit-background-clip: text;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonContainer > * {
  padding: 6px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #a8d658;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  font-size: 20px;
}

.buttonContainer > *:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.4s;
}

.imageContainer img {
  max-height: 70vh;
  max-width: 80vh;
}

.note {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
